@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Malaro Electronica</h1>
    <p class="lead">Somos una empresa dedicada a la venta de equipos celulares de gama alta, nuestro objetivo es ofrecer equipos libres para que no tengan que firmar contratos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
